GodKiller.uproject
Saved/Logs/GodKiller.log
Saved/AutoScreenshot.png
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorLayout.ini
Saved/Config/Windows/EditorUserSettings.ini